@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
--mobile-width: 375px;
--desktop-width: 1440px;
--primary-light-red-CTA-text: hsl(356, 100%, 66%);
--very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
--very-dark-blue-headings: hsl(208, 49%, 24%);

--white-text: hsl(0, 0%, 100%);
--footer-text: hsl(240, 2%, 79%);
--body-copy: hsl(207, 13%, 34%);
--footer-background: hsl(240, 10%, 16%);

/* Background gradient - Intro/CTA mobile nav: */
--mobile-nav: hsl(13, 100%, 72%);
--light-red: hsl(353, 100%, 62%);
/* 
Background gradient - body: */

--very-dark-grey-blue: hsl(237, 17%, 21%);
--very-dark-desaturated-blue: hsl(237, 23%, 32%);
/* font style */
--font-1: 'Overpass', sans-serif;
--font-2: 'Ubuntu', sans-serif;
}
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}

.hero {
  height: 90vh;
  background: rgb(235,233,169);
  background: linear-gradient(180deg, rgba(235,233,169,1) 0%, rgba(255,143,112,1) 0%, rgba(255,110,101,1) 52%, rgba(255,61,84,1) 100%);
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 100px;
}
.navbar {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  padding: 50px 30px; 
}
.hamburger {
  height: 20px;
}
.image {
  height: 160%;
  position: absolute;
  left: -90%;
  top: -30%;

}
.bg {
  display: block;
  height: 120%;
  
  z-index: 0;
}
.text-content {
  position: relative;
  z-index: 2;
  margin-top: 400px;
}
.mobile-dropdown {
  height: auto;
  width: 84%;
  background:#fff;
  margin: 0 auto;
  font-family: var(--font-2);
  text-align: center;
  padding: 30px 0;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 3px 20px 26px -1px rgba(0,0,0,0.24);
-webkit-box-shadow: 3px 20px 26px -1px rgba(0,0,0,0.24);
-moz-box-shadow: 3px 20px 26px -1px rgba(0,0,0,0.24);
display: none;
/* transition: all 5s ease-in-out; */
position: absolute;
left: 35px;
z-index: 9;
}
.show-dropdown {
  display: block;
}
.dropbtn {
  border: none;
  background-color: transparent;
  font-family: var(--font-2);
  font-size: 1rem;
  padding: 15px 0;
}
.dropbtn:focus {
  outline: none;
  box-shadow: none;
}
.fa-angle-down {
  color: var(--light-red);
  padding-left: 5px;
}
.dropdown-content {
  margin: 0 20px;
  border-radius: 10px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  background-color:hsla(240, 3%, 79%, 0.596);
  opacity: 0.8;
  font-size: 0.9rem;
  position: relative;
  display: none;
}

.show-content {
  display: flex;
  
}
.dropdown-content a{
  padding: 15px 0;
  color: var(--very-dark-blue);
}
.dropdown-content::after{
  content: '';
  width: 100%;
  position: absolute;
  right: 4px;
  bottom: -10px;
  height: 2px;
  background-color: rgba(61, 57, 57, 0.082);
}
.authorization {
  display: flex;
  flex-direction: column;
  width: 120px;
  margin: 0 auto;
}
.authorization  button {
  border:none;
  font-family: var(--font-2);
  margin-top: 10px;
  font-size: 1rem;
}
.login{
  background: transparent;
  padding: 40px 0 10px;
}
.signup {
  background: rgb(235,233,169);
  background: linear-gradient(90deg, rgba(235,233,169,1) 0%, rgba(255,143,112,1) 0%, rgba(255,110,101,1) 52%, rgba(255,61,84,1) 100%);
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px;

}
.hero-text {
  position: relative;
  z-index: 1;
  margin-top: 30%;
  text-align: center;
  color: #fff;
  font-family: var(--font-1);
  /* padding-bottom: 50px; */
  padding: 0 12px 50px;
}
.hero-text h1 {
  font-size: 2.5rem;
}
.hero-text p{
  margin-top: 20px;
  font-size: 1.2rem;
}
.hero-text button{
  font-size: 1rem;
  padding: 14px 20px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 60px;
  font-family: var(--font-2);
}
.btn-1 {
  color:var(--primary-light-red-CTA-text);
  border: none;
}
.btn-2 {
  background: transparent;
  border: 1px solid white;
  color: #fff;
  margin-left: 10px;
}
/* section 2 */
.section-2 {
  position: relative;
  background-color: white;
  z-index: 10;
  text-align: center;
  padding-top: 100px;
  font-family: var(--font-2);
}
.section-2 h1 {
  color: var(--body-copy);
  font-size: 1.6rem;
  margin-bottom: 60px;
}
.section-2 img {
  width: 100%;
}
.description {
  margin-top:40px;
  font-family: var(--font-1);
  color: var(--body-copy);
}
.description h3{
  font-size: 1.6rem;
  padding: 0 70px;
}
.description p{
  padding: 20px 40px;
  line-height: 1.5;
}
/* section 3 */
.section-3{
  height: auto;
  position: relative;
}
.illustration{
  height: 650px;
  background-color: var(--very-dark-grey-blue);
  border-radius: 0 130px 0 130px;
  position: relative;
  overflow: hidden;
  margin-top: 180px;
}
.mobile-image {
  position: absolute;
  z-index: 10;
  top: -20%;
}
.mobile {
  width: 100vw;
}
.circle-image {
  height: 200%;
  position: relative;
  z-index: 0;
}
.circle {
  width: 140vw;
  position: absolute;
  top: -20%;
  left: -10%;
  z-index: 0;
}
.description-3 {
  position: relative;
  z-index: 1;
  padding-top: 300px;
  font-family: var(--font-1);
  text-align: center;
}
.description-3 h1 {
  color: #fff;
}
.description-3 p{
  color: #fff;
  padding: 10px 40px;
  line-height: 1.8;
}
/* section 4 */
.section-4 {
  text-align: center;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  font-family: var(--font-1);
  color: var(--body-copy);
}
.laptop-image {
  width: 100vw;
}
.laptop-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130%;
  position: relative;
  left: -50px;
}
.description-4 h1{
      margin: 30px 0;
      font-size: 1.6rem;
}
.description-4 p{
  padding: 0 40px;
  line-height: 1.8;
}
/* footer section */
footer {
  text-align: center;
  background: var(--footer-background);
  font-family: var(--font-2);
  height: auto;
  border-radius: 0 100px 0 0;
  margin-top: 80px;
  padding-bottom: 40px;
}
.footer-logo {
  padding: 70px 0 10px;
}
.link h3 {
  color: #fff;
  padding: 40px 0 20px;
}
.link ul li a{
  color:var(--footer-text);
  line-height: 1.8;
}